@import "../css-config/mixins.scss";



.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  @include md {

  margin-bottom: 10rem;
    height: 100vh;
    // background-color: #a3c0f4;
  }
  .heading {
    margin: 0 auto;
    /* padding: 20px; */
    text-align: center;
    width: 100%;
    padding-top: 1.3rem;
   
    // height: 150vh;
    @include md{
      width: calc(100% - 20px);
      padding: 0;
      
    }
    h1 {
      font-size: 3.3rem;
      font-weight: bolder;
      letter-spacing: 1px;
      font-family: cursive;
      // color: #7f5af0;
      color: white;
      filter: drop-shadow(-1px 1px 4px rgb(154, 154, 154));
      @include md {
        font-size: 4rem;
        // background-color: #b272f3;
      }
    }
    p {
      padding: 2rem 2rem 0rem 2rem;
      text-align: justify;
      font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 1.5;
            font-family: serif;
            color: #9e9fa1;
      @include md{
        // width: calc(100% - 50px);
        font-size: 1.4rem;
        font-family: cursive;
        text-align: center;
        // padding: 2rem;
        padding: 0;
     letter-spacing: normal;
     line-height: normal;
     margin: 2rem 15rem 2rem 15rem;
    //  background-color: #114aec;

      }
    }
  }
  .skill-content {
    width: calc(100% - 10px);
    // height: 50vh;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include md{
      flex-direction: row;
    
    }
    .skill-left {
      width: calc(100% - 20px);
      margin: 0 auto;

@include md{
  width: 45%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  grid-template-areas: 
  "one auto two"
  "auto three auto";
  padding-bottom: 5rem;
}
#box2{
  @include md{

    transform: translateX(138px);
  }
}
      .box {
        // width: 100%;
        border: 2px solid black;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;
        // background-image: linear-gradient(135deg, #efeef5 10%, #b272f3 100%);
        background-color: #16161a;
        filter: drop-shadow(-1px 1px 4px rgb(128, 128, 128));
        .title {
          margin: 0 auto;

          h2 {
            text-align: center;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: 2rem;
            letter-spacing: 2px;
            // color: black;
            color: #7f5af0;
          }
          .content {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;
            gap: 15px;
            // color: black;
            color: #9e9fa1;
            font-weight: bold;
            
            @include md{
              gap: 10px;
              font-weight: bold;
            }
            .skill-img {
              span {
                padding-left: 10px;
                /* display: block; */
                position: relative;
                top: -14px
              }
            }
          }
        }
      }
    }
    .skill-right {
      width: calc(100% - 20px);
      margin: 0 auto;
      @include md{
        width: 45%;
        margin: auto;
        padding-bottom: 5rem;
      }
      .box-2 {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
        border: 1px solid black;
        box-shadow: 1px 1px 10px #949494;
        border-radius: 5px;
        padding: 1rem;
        // background-color: #16161a;
        .heading {
          margin: 0 auto;

          h2 {
            text-align: center;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: 2rem;
            letter-spacing: 2px;
            color: #7f5af0;
            margin-bottom: 1rem;
          }

        }
        .circle-content {
          margin-top: 1rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          @include md{
            margin-top: 2rem;
          }
          .circle-1 {
            padding-top: 1rem;
            // background-image: linear-gradient(135deg, #efeef5 10%, #b272f3 100%);
            background-color: #16161a;
            // background: #242629;
            width: 150px;
            height: 182px;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            // padding: 0.5rem;
            border-radius: 5px;
            // filter: drop-shadow(-1px 1px 4px rgb(128, 128, 128));
            @include md{
              width: 200px;
              // height: 182px;
             margin: 0 auto;
            //  padding: 0;
            }
            #desc {
              padding: 1rem;
              font-size: 1.6rem;
              font-weight: bold;
              text-align: center;
              color: #949494;
            }
            .circle {
              width: 140px;
              height: 140px;
              background-image: conic-gradient(rgb(0, 13, 255) 0deg, white 0deg);
              position: relative;
              border-radius: 50%;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              animation: animate1 3s ease forwards;
              p {
                position: relative;
                font-size: 2rem;
                font-weight: bolder;
              }
              &::before {
                content: "";
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                background-color: rgb(194, 194, 194);
              }
            }
          }
        }
      }
    }
  }
}


@keyframes animate1 {
  100%{
background-image: conic-gradient(rgb(0, 13, 255)288deg, white 0deg);
  }
}
@keyframes animate2 {
  100%{
background-image: conic-gradient(rgb(0, 13, 255)252deg, white 0deg);
  }
}
@keyframes animate3 {
  100%{
background-image: conic-gradient(rgb(0, 13, 255)270deg, white 0deg);
  }
}
@keyframes animate4 {
  100%{
background-image: conic-gradient(rgb(0, 13, 255)288deg, white 0deg);
  }
}
