@import "../css-config/mixins.scss";

// body{
//     font-family: 'Barriecito', cursive;
// }

.navbar {
  width: 100%;
  height: 5rem;
  // background-color: rgb(164, 247, 247);
  // border-bottom: 1px solid grey;
  //   box-shadow: 1px 1px 5px rgb(164, 164, 164);
  // background: rgb(184, 67, 250);
  //   background: linear-gradient(
  //     302deg,
  //     rgba(241, 239, 246, 1) 0%,
  //     rgba(208, 126, 255, 0.837) 91%
  //   );
  display: block;
    z-index: 99;
  background: #0f0e17;
  // position: sticky;
  @include md{
    // background: rgb(184, 67, 250);
    // background: linear-gradient(
    //   302deg,
    //   rgba(208, 126, 255, 0.837) 0%,
    //   rgba(241, 239, 246, 1) 91%
    // );
    // position: sticky;
    background: #0f0e17;
    display: block;
    z-index: 99;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    // box-shadow: 0px 4px 10px #626161 !important;
  }
  .nav {
    width: calc(100% - 20px);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: fit-content;
      margin: auto 20px;
      margin-top: 1.2rem;
      // background-color: aliceblue;
      cursor: pointer;
      p {
        font-size: 2rem;
        font-family: "Anton", sans-serif;
        font-family: "Lobster", cursive;
        // text-decoration: none;
        // color: rgb(46, 46, 46);
        color: #fffffe;
        font-weight: bolder;
        letter-spacing: 4px;
        // filter: drop-shadow(-1px 1px 4px #000);
        filter: drop-shadow(-1px 1px 4px rgb(128, 128, 128));
        opacity: 0;
        animation: slideRight 1s ease forwards;
        span {
          // color: #c888ff;
          // color: black;
          color: white;
        }
      }
    }
    .center {
      margin: auto 0px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      position: absolute;
      @include md {
        display: inline-block;
      }
      .nav-links {
        padding-top: 10px;
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          align-items: center;
          justify-content: center;
          li {
            font-size: 1.8rem;
            // font-weight: 600;
            font-weight: bolder;
            font-family: "Barriecito", cursive;
            padding: 10px 20px;
            // filter: drop-shadow(-1px 1px 4px #000);
            filter: drop-shadow(-1px 1px 4px rgb(154, 154, 154));
            a {
              position: relative;
              display: inline-block;
              // color: white;
              // color: rgb(46, 46, 46);
              color: #fffffe;
              text-decoration: none;
              animation: slideTop 0.5s ease forwards;
              animation-delay: calc(0.2s * var(--i));
              &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                height: 3px;
                width: 0%;
                background-color: #fffffe;
                filter: drop-shadow(-1px 1px 4px #e4e4e4);
                transition: 0.3s;
              }
              &:hover:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      // justify-content: center;
      // background-color: antiquewhite;
      padding-top: 10px;
      .mode {
        font-size: 2.2rem;
        // margin-right: 2rem;
        cursor: pointer;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        svg {
          filter: drop-shadow(-1px 1px 4px white);
          font-size: 1.8rem;
          // color: rgb(46, 46, 46);
          color: #fffffe;
        }
      }

      .talk {
        margin: auto 2rem;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        button {
          
          background-color: #9000ffd4;
          color: white;
          font-weight: 600;
          box-shadow: 5px 5px 0 rgb(88 0 109 / 96%);
          border-radius: 5px;
          font-family: "Barriecito", cursive;
          transition: transform 0.2s, box-shadow 0.2s;
          border: none;
          letter-spacing: 1px;
          cursor: pointer;
          // filter: drop-shadow(-1px 1px 4px #000);
          filter: drop-shadow(-1px 1px 4px rgb(128, 128, 128));
          width: 9rem;
          height: 2rem;
          display: none;
          @include md {
            height: 3rem;
            width: 10rem;
            display: inline-block;
            border: 1px solid white;
          }
        }
        button:active {
          box-shadow: 0 0 0 rgb(88 0 109 / 96%);
          transform: translateX(4px) translateY(4px);
        }
      }
      .toggle {
        display: block;
        margin-right: 2rem;
        cursor: pointer;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        // color: white;
        @include md {
          display: none;
        }
        svg {
          font-size: 2rem;
          color: rgb(255, 255, 255);
          filter: drop-shadow(-1px 1px 4px white);
          margin-top: 0.3rem;
        }
      }
    }
  }

    &.nav-sticky{
        position: sticky;
        top: 0;   
        display: block; 
        animation: stickyHeader 0.3s ease forwards;
    }
    &.changeColor{
      background: linear-gradient(302deg, rgb(164 74 253) 0%, rgb(162 0 255 / 100%) 100%);
      display: block;
      z-index: 99;
      .left{
        p{
          color: black;
          span{
            color: black;
          }
        }
      }
      .center{
        .nav-links{
        .ul-nav{
          li {
            a{
            color: black;
            &::after{
              background-color: black;
            }
          }
        }
        }
      }
      }
      .right{
        .mode{

          .night{
            svg{

              color: black;
            }
          }
        }
        .talk{
          button{
            border: 1px solid black;
          }
        }
      }
    }
  
}

@keyframes stickyHeader {
  0%{
    transform: translateY(-60px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
